@import "tailwindcss";
@theme {
    --color-primary: #4f46e5;
    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
 
}
@layer utilities  {
    .pkg-active {
        @apply bg-primary/5 border-l-4 border-primary;
      }
}
body {
    background-color: #f5f5f5;
    height: 100vh;
}